.banner {
  background: url("/src/assets/bannerimg.png") center center;
  height: 520px;
  background-repeat: no-repeat;
  background-position:center;
  object-fit: contain;
  background-size:cover;
  padding-left: 80px;
  padding-top: 150px;

}

.banner__content{
  flex-direction: column;
  width:600px
}
.bcp{
  width: 300px;
}

@media (max-width:576px) {
  .banner{
    background: #0B2265;
    text-align: left;
    padding: 2% 7%;
  }
  .banner__content{
    width: 100%;
  }
  .bannerh1{
    font-size: 50px;
    width: 300px;
  }
  .bcp{
    font-size: 26px;
    line-height: 150%;
  }
  .bannerbtng{
    display: flex;
    flex-direction: column;
  }
  .header__btn{
    font-size: 14px;
  }
  .hbtn1{
    width: 150px;
    margin-bottom: 8%;
  }
  .hbtn2{
    width: 200px;
  }
}