.Footersec1{
    background-color: #0B2265;
    color:#fff;
    width:100%;
}
.footersec1a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.footersec1a:hover{
    color: #fff;
}
.footericonrow{
    justify-content: space-between;
    margin-right: 10%;
}
.fticon{
    width: 23px;
}

@media (max-width:576px) {
    .footersec1a{
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 9px;
        margin-right: 30px;
        padding: 0%;
    }
    .footericonrow{
        justify-content: space-between;
        margin-right: 1%;
    }
    .footerh6{
        font-size: 70%;
    }
    .Footersec1{
        background-color: #0B2265;
        color:#fff;
        width:100%;
    }
}