.postbanner{
    background-color: #0B2265;
    padding: 4% 20% 4% 20%;
    text-align: center;
    color: #fff;
}
.pbrow{
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}