.postbanner {
  background-color: #0b2265;
  padding: 4% 20% 4% 20%;
  text-align: center;
  color: #fff;
}
.pbrow {
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .anaction {
    justify-content: center;
    align-items: center;
  }
  /* .pbrow{
        display: flex;
        flex-direction: column;
        margin-top: -120px;
       
    } */
  .pstp {
    width: 166px;
    /* text-align: center; */
    /* margin-left: 70px; */
    /* margin-bottom: 30px; */
    font-weight: bold;
    font-size: 17px;
  }
}
