.sec3__heading{
    margin: 2% 18% 4% 18%;
    text-align: center;
}
.sec3__h3{
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15%;
}
.sec3__part2{
    margin-top:130px ;
}
.frame1{
    width: 750px;
    object-fit: contain;
}
.sec3__p{
    font-size: 20px;
    font-weight: bold;
}
.frame2{
    object-fit: contain;
    margin-left: 80px;
    height:500px;
}
