.section2{
    background-color: #E0E2EA;
}
.sec2part1{
    margin: 0% 30% 0% 30%;
    text-align: center;
}
.sec2h2{
    font-weight: bold;
}
.sec2row{
    justify-content: center;
    align-items: center;
}
.sec2__h4{
font-weight: bold;
}
.sec2__p{
    width: 280px;
}
.sec2__img{
    width: 500px;
}