.section4{
    align-items: center;
    text-align: center;
}
.sec4__heading{
    width: 800px;
    align-items: center;
    justify-content: center;
    margin: 2% 18% 2% 18%;

    /* padding: 0% 10% 0% 10%; */

}
.sec4__h3{
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}    /* margin: 2% 10% 2% 8%; */
.line{
    display: block;
    border-bottom: 2px solid #fff;
    margin-top: 5%;
    margin-left: 2%;
    align-items: center;
    width: 80%;
}
.companylog{
    width: 150px;
}
@media (max-width:1028px) {
    .sec4__heading {
        width: 350px;
        margin-left: 9%;
    }
    .sec4__h3{
        width: 350px;
        padding-left: 0%;
        margin-left: -8%;
        font-size: 20px;
    }
    .line{
        width: 350px;
        padding-left: 0%;
        margin-left: -8%;
    }
    /* .companylog{
        font-size: 5px !important;
        width: 10px;

    } */
}