.section4{
    align-items: center;
    text-align: center;
}
.sec4__heading{
    width: 800px;
    align-items: center;
    justify-content: center;
    margin: 2% 18% 2% 18%;

    /* padding: 0% 10% 0% 10%; */

}
.sec4__h3{
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}    /* margin: 2% 10% 2% 8%; */
.line{
    display: block;
    border-bottom: 2px solid #fff;
    margin-top: 5%;
    margin-left: 2%;
    align-items: center;
    width: 80%;
}
.companylog{
    width: 150px;
}
@media (max-width:576px) {
    .sec4__heading {
        width: 100%;
        margin-left: 0%;
    }
    .sec4__h3{
        width: 100%;
        text-align: center;
        padding: 5%;
        font-size: 30px;
        justify-self: center;
    }
    .line{
        width: 50%;
        margin: auto;
        /* padding-left: 0%; */
        /* margin-left: -8%; */
    }
    .logsec{
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 4% 20%;
    }
    .companylog{
        /* font-size: 5px !important; */
        display: block;
        width: 200px;
    }
}